{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-await-in-loop": "off"
  }
}
